@use 'mixins-modal';
@import 'variables';

.modal__company{
    @include mixins-modal.modal;
    width: 6%;
    left: 25%;
    top: 7%;
    @media (max-width: 1100px) {
        width: 8%;
        left: 31.5%;
        top: 7%;
    }
    @media (max-width: 955px) {
        width: 12%;
        left: 31.5%;
        top: 7%;
    }
    &--items {
        @include mixins-modal.items;
    }
    &--links {
        @include mixins-modal.links;
    }
    &--item {
        @include mixins-modal.item;
    }
}
