@import 'variables';

.navbar {
    width: 65%;
    &__items {
        width: 50%;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: space-around;
        @media (max-width: 1100px) {
            width: 90%;
        } 
    }
    &__link {
        text-decoration: none;
        padding-right: 10%;
        color: $Medium-Gray;  
    }
    &__item{
        display: flex;
        align-items: center;
        &:hover{
            cursor: pointer;
            color: $Almost-Black;
            font-weight: 600;
        }
    }
    @media (max-width: 700px) {
        display: none;
    } 
}