@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");

$Almost-White: hsl(0, 0%, 98%);
$Medium-Gray: hsl(0, 0%, 41%);
$Almost-Black: hsl(0, 0%, 8%);
$Modal-Black: rgba(0, 0, 0, 0.3);
$Modal-White: hsl(0, 0%, 100%); 
$Font: Epilogue;