@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swa");
.navbar {
  width: 65%;
}
.navbar__items {
  width: 50%;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 1100px) {
  .navbar__items {
    width: 90%;
  }
}
.navbar__link {
  text-decoration: none;
  padding-right: 10%;
  color: hsl(0, 0%, 41%);
}
.navbar__item {
  display: flex;
  align-items: center;
}
.navbar__item:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  font-weight: 600;
}
@media (max-width: 700px) {
  .navbar {
    display: none;
  }
}

.buttons {
  display: flex;
  width: 20%;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 900px) {
  .buttons {
    width: 25%;
  }
}
.buttons__login {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.buttons__login:hover {
  color: hsl(0, 0%, 8%);
  font-weight: 600;
}
.buttons__register {
  padding: 5% 10% 5% 10%;
  font-family: Epilogue;
  color: hsl(0, 0%, 41%);
  background-color: hsl(0, 0%, 98%);
  border-radius: 15px;
  font-size: 100%;
  border: 1px solid hsl(0, 0%, 41%);
}
.buttons__register:hover {
  color: hsl(0, 0%, 8%);
  font-weight: 600;
  border: 2px solid hsl(0, 0%, 8%);
  cursor: pointer;
}
@media (max-width: 700px) {
  .buttons {
    display: none;
  }
}

.header, .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  width: 7%;
  padding-left: 3%;
  padding-right: 3%;
  margin: 0;
}
.header__logo--image {
  width: 100%;
  height: 100%;
  margin: 0;
}
@media (max-width: 700px) {
  .header__logo {
    padding-top: 5%;
    width: 30%;
  }
}
.header__menu {
  display: none;
}
@media (max-width: 700px) {
  .header__menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10%;
  }
  .header__menu:hover {
    cursor: pointer;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 2%;
}
@media (max-width: 700px) {
  .section {
    flex-direction: column-reverse;
  }
}
.section__description {
  width: 40%;
}
@media (max-width: 700px) {
  .section__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}
.section__description--title {
  font-size: 500%;
  font-weight: 900;
  margin-bottom: 10%;
}
@media (max-width: 700px) {
  .section__description--title {
    font-size: 200%;
  }
}
.section__description--paragraph {
  color: hsl(0, 0%, 41%);
  font-size: 110%;
  margin-right: 18%;
  text-align: justify;
  line-height: 1.5;
}
@media (max-width: 700px) {
  .section__description--paragraph {
    text-align: center;
    margin: 0;
  }
}
.section__description--button {
  margin-top: 5%;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  font-family: Epilogue;
  border-radius: 15px;
  font-size: 100%;
  padding: 3% 6% 3% 6%;
  border: 1px solid hsl(0, 0%, 8%);
}
.section__description--button:hover {
  cursor: pointer;
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  font-weight: 900;
}
.section__description--images {
  margin-top: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 700px) {
  .section__description--images {
    width: 100%;
  }
}
.section__description--figure {
  margin: 0;
}
@media (max-width: 700px) {
  .section__description--figure {
    width: 20%;
  }
  .section__description--figure img {
    width: 100%;
    height: 100%;
  }
}
.section__image {
  width: 35%;
}
@media (max-width: 700px) {
  .section__image {
    width: 100%;
    margin-top: 5%;
  }
}
.section__image--figure {
  width: 100%;
  margin: 0;
}
.section__image--figure img {
  margin: 0;
  width: 100%;
  height: 100%;
}

.modal__features {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 2% 1% 1% 2%;
  width: 11.5%;
  left: 9%;
  top: 7%;
}
@media (max-width: 1100px) {
  .modal__features {
    width: 13%;
    left: 11.5%;
    top: 7%;
  }
}
@media (max-width: 955px) {
  .modal__features {
    width: 18%;
    left: 8%;
    top: 7%;
  }
}
.modal__features--items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal__features--links {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.modal__features--item {
  padding-bottom: 5%;
}
.modal__features--item img {
  margin-right: 20px;
}
.modal__features--item:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  font-weight: 600;
}

.modal__company {
  display: none;
  position: absolute;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 2% 1% 1% 2%;
  width: 6%;
  left: 25%;
  top: 7%;
}
@media (max-width: 1100px) {
  .modal__company {
    width: 8%;
    left: 31.5%;
    top: 7%;
  }
}
@media (max-width: 955px) {
  .modal__company {
    width: 12%;
    left: 31.5%;
    top: 7%;
  }
}
.modal__company--items {
  list-style: none;
  padding: 0;
  margin: 0;
}
.modal__company--links {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}
.modal__company--item {
  padding-bottom: 5%;
}
.modal__company--item img {
  margin-right: 20px;
}
.modal__company--item:hover {
  cursor: pointer;
  color: hsl(0, 0%, 8%);
  font-weight: 600;
}

body, html {
  position: relative;
  background-color: hsl(0, 0%, 98%);
  font-family: Epilogue;
}

.main__container {
  margin: 2%;
}

/*# sourceMappingURL=style.css.map */
