@use 'header';
@use 'section';
@use 'modalFeatures';
@use 'modalCompany';
@import 'variables';

body, html {
    position: relative;
    background-color: $Almost-White;
    font-family: $Font;
}

.main__container{
    margin: 2%;
}